// make sure to replace with correct parameters and copy as .env file to root directory

DATABASE=<insert mongodb connection string>
PORT=8000
BRAINTREE_MERCHANT_ID=<insert braintree merchant id>
BRAINTREE_PUBLIC_KEY=<insert braintree public key>
BRAINTREE_PRIVATE_KEY=<insert braintree private key>